.TodoInsert {
    display:flex;
    background:#495057;
    input {
        flex:1;
        outline:none;
        border:none;
        padding:0.5rem;
        font-size:1.125rem;
        line-height: 1.5;
        color:white;
    }
    
}